.level-container {
    display: flex;
    flex-wrap: wrap;
}

.animal, .kids {
    height: 145px;
    width: 210px;
    border: 5px solid transparent;
    
    /* float: left; */
}

.kids {
    display: flex;
} 

/* .animal > img  {
    height: 147px;
    width: 210px;
}

.kids > img {
    height: 100px;
    width: 200px;
} */

.right-picture {
    border: 5px solid #53ea93;
    border-radius: 15px;
   /* color: rgb(16, 94, 16); */
 /* box-shadow: inset 0 0 0 23px #53ea93; */
}

.diff {
    width: 214px;
    height: 300px;
}

.raccon {
    background: content-box no-repeat url("./images/animal1.jpg");
    background-size: cover;
}

/* .normal {
    height: 500px!important;
} */